<div class="container">
  <h2>Employee List</h2>
  <button (click)="goToForm()" class="btn btn-primary">Add Employee</button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Position</th>
        <th>Department</th>
        <th>Salary</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      @for (employee of employees; track $index) {
        <tr>
          <td>{{ employee._id }}</td>
          <td>{{ employee.name }}</td>
          <td>{{ employee.position }}</td>
          <td>{{ employee.department }}</td>
          <td>{{ employee.salary }}</td>
          <td>
            <button (click)="viewEmployee(employee._id)" class="btn btn-primary me-2">View</button>
            <button (click)="editEmployee(employee._id)" class="btn btn-secondary me-2">Edit</button>
            <button (click)="deleteEmployee(employee._id)" class="btn btn-danger me-2">Delete</button>
          </td>
        </tr>
        }
    </tbody>
  </table>
</div>
