<div class="container">
  <h2>{{ isEditMode ? 'Edit Employee' : 'Add Employee' }}</h2>
  <form [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" class="form-control">
      @if (employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched) {
        <div class="text-danger">
          Name is required.
        </div>
      }
    </div>
    <div class="form-group">
      <label for="position">Position:</label>
      <input type="text" id="position" formControlName="position" class="form-control">
      @if (employeeForm.controls['position'].invalid && employeeForm.controls['position'].touched) {
        <div class="text-danger">
          Position is required.
        </div>
      }
    </div>
    <div class="form-group">
      <label for="department">Department:</label>
      <input type="text" id="department" formControlName="department" class="form-control">
      @if (employeeForm.controls['department'].invalid && employeeForm.controls['department'].touched) {
        <div class="text-danger">
          Department is required.
        </div>
      }
    </div>
    <div class="form-group">
      <label for="salary">Salary:</label>
      <input type="number" id="salary" formControlName="salary" class="form-control">
      @if (employeeForm.controls['salary'].invalid && employeeForm.controls['salary'].touched) {
        <div class="text-danger">
          Salary must be a positive number.
        </div>
      }
    </div>
    <div class="mt-2">
      <button type="submit" class="btn btn-success me-2" [disabled]="employeeForm.invalid">
        {{ isEditMode ? 'Update' : 'Create' }}
      </button>
      <button (click)="goBack()" class="btn btn-secondary me-2">Cancel</button>
    </div>
  </form>
</div>
